/* Define custom CSS variables */
:root {
    --color-gray-dark: #797979;
    --color-gray-light: #d9d9d9;
    --color-blue: #1c5cff;
    --color-white: #ffffff;
    --color-border-light: #dadada;
    --color-gray-body: #efefef;
    --color-blue-light: #3d74ff;
  }
  
  /* General Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif; /* Assuming you are using Helvetica */
  }
  
  body {
    background-color: var(--color-gray-body); /* Light gray background */
    color: var(--color-gray-dark); /* Dark gray text */
  }
  
  main {
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
    background-color: var(--color-white); /* White background for the form */
  }
  
  h1 {
    color: var(--color-blue); /* Blue color for header */
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-floating .form-control {
    color: var(--color-gray-dark); /* Dark text color for input */
    border: 1px solid var(--color-blue); /* Blue border */
    border-radius: 5px;
    box-shadow: none;
    transition: border-color 0.3s;
  }
  
  .form-floating .form-control:focus {
    border-color: var(--color-blue-light); /* Lighter blue border on focus */
    box-shadow: 0 0 0 0.2rem rgba(29, 92, 255, 0.25); /* Blue glow on focus */
  }
  
  label {
    color: var(--color-gray-dark); /* Dark gray for labels */
    font-weight: bold;
  }
  
  .checkbox label {
    color: var(--color-gray-dark);
  }
  
  button {
    background-color: var(--color-blue-light); /* Light blue button */
    color: var(--color-white); /* White button text */
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: var(--color-blue); /* Darker blue on hover */
  }
  
  .btn-custom-2 {
    background-color: var(--color-blue); /* Blue button */
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .btn-custom-2:hover {
    background-color: var(--color-blue-light); /* Lighter blue on hover */
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  
  @media (max-width: 480px) {
    main {
      width: 90%;
      padding: 20px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  }
  
  /* Custom styling for round button */
  .round-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-blue); /* Blue background */
    color: var(--color-white);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .round-btn:hover {
    background-color: var(--color-blue-light); /* Lighter blue on hover */
  }
  